@page "/demo"
@using Cropper.Blazor.Components

<MudContainer Class="mt-5">
    <MudGrid Class="mt-2">
        @*//---Cropper Component---//*@
        <MudItem xxl="7" xl="9" lg="9" md="9" sm="12" xs="12">
            <MudPaper Class="pa-4" Elevation="2">
                <div class="img-container">
                    <CropperComponent Class="cropper-container"
                                      ErrorLoadImageClass="cropper-error-load"
                                      @ref="cropperComponent"
                                      OnCropStartEvent="OnCropStartEvent"
                                      OnCropEndEvent="OnCropEndEvent"
                                      OnCropEvent="OnCropEvent"
                                      OnZoomEvent="OnZoomEvent"
                                      OnCropMoveEvent="OnCropMoveEvent"
                                      OnReadyEvent="OnCropReadyEvent"
                                      OnLoadImageEvent="OnLoadImageEvent"
                                      Src="@Src"
                                      Loading="lazy"
                                      ErrorLoadImageSrc="@ErrorLoadImageSrc"
                                      IsErrorLoadImage="@IsErrorLoadImage"
                                      OnErrorLoadImageEvent="OnErrorLoadImageEvent"
                                      Options="options" />
                </div>
            </MudPaper>
        </MudItem>
        @*//---Img preview and data---//*@
        <MudItem xxl="5" xl="3" lg="3" md="3" sm="12" xs="12">
            <MudPaper Class="pa-4 d-flex flex-column justify-center" Elevation="2">
                <div class="d-flex flex-row flex-wrap justify-center gap-1 mb-2">
                    <div class="img-preview preview-lg"></div>
                    <div class="d-flex flex-row flex-wrap gap-1">
                        <div class="img-preview preview-md"></div>
                        <div class="d-flex flex-column flex-wrap align-center gap-1">
                            <div class="img-preview preview-sm"></div>
                            <div class="img-preview preview-xs"></div>
                        </div>
                    </div>
                </div>
                <div class="docs-data">
                    <MudNumericField Class="mb-2" HideSpinButtons="true" @bind-Value="x" Step=".2M" Label="X" Variant="Variant.Text"
                                     Adornment="Adornment.End" AdornmentText="px" AdornmentColor="Color.Primary" Margin="Margin.Dense" />
                    <MudNumericField Class="mb-2" HideSpinButtons="true" @bind-Value="y" Label="Y" Step=".2M" Variant="Variant.Text"
                                     Adornment="Adornment.End" AdornmentText="px" AdornmentColor="Color.Primary" Margin="Margin.Dense" />
                    <MudNumericField Class="mb-2" HideSpinButtons="true" @bind-Value="width" Label="Width" Step=".2M" Variant="Variant.Text"
                                     Adornment="Adornment.End" AdornmentText="px" AdornmentColor="Color.Primary" Margin="Margin.Dense" />
                    <MudNumericField Class="mb-2" HideSpinButtons="true" @bind-Value="height" Label="Height" Step=".2M" Variant="Variant.Text"
                                     Adornment="Adornment.End" AdornmentText="px" AdornmentColor="Color.Primary" Margin="Margin.Dense" />
                    <MudNumericField Class="mb-2" HideSpinButtons="true" @bind-Value="rotate" Label="Rotate" Step=".2M" Variant="Variant.Text"
                                     Adornment="Adornment.End" AdornmentText="deg" AdornmentColor="Color.Primary" Margin="Margin.Dense" />
                    <MudNumericField Class="mb-2" HideSpinButtons="true" @bind-Value="scaleX" Label="ScaleX" Variant="Variant.Text" Step=".2M" />
                    <MudNumericField HideSpinButtons="true" @bind-Value="scaleY" Label="ScaleY" Variant="Variant.Text" Step=".2M" />
                </div>
            </MudPaper>
        </MudItem>
        @*//---Buttons for test cropper functional---//*@
        <MudItem xxl="9" xl="8" lg="7" md="7" sm="12" xs="12">
            <MudPaper Class="pa-4 d-flex flex-row flex-wrap gap-1 justify-center" Elevation="2">

                <MudButtonGroup Color="Color.Primary" Variant="Variant.Filled">
                    <MudTooltip Text="@("cropper.setDragMode(\"move\")")">
                        <MudToggleIconButton Icon="@Icons.Material.Filled.OpenWith" ToggledIcon="@Icons.Material.Filled.OpenWith"
                                             ToggledColor="@Color.Dark" Title="Move" ToggledChanged="SetMoveDragMode" />
                    </MudTooltip>
                    <MudTooltip Text="@("cropper.setDragMode(\"crop\")")">
                        <MudToggleIconButton Icon="@Icons.Material.Filled.Crop" ToggledIcon="@Icons.Material.Filled.Crop"
                                             ToggledColor="@Color.Dark" Title="Crop" ToggledChanged="SetCropDragMode" />
                    </MudTooltip>
                </MudButtonGroup>

                <MudButtonGroup Color="Color.Primary" Variant="Variant.Filled">
                    <MudTooltip Text="Zoom In">
                        <MudIconButton Icon="@Icons.Material.Filled.ZoomIn" OnClick="@(()=>Zoom(0.1m))" Title="Zoom In" />
                    </MudTooltip>
                    <MudTooltip Text="Zoom Out">
                        <MudIconButton Icon="@Icons.Material.Filled.ZoomOut" OnClick="@(()=>Zoom(-0.1m))" Title="Zoom Out" />
                    </MudTooltip>
                </MudButtonGroup>

                <MudButtonGroup Color="Color.Primary" Variant="Variant.Filled">
                    <MudTooltip Text="cropper.move(-10, 0)">
                        <MudIconButton Icon="@Icons.Material.Filled.ArrowBack" OnClick="@(()=>Move(-10, 0))" Title="Move Left" />
                    </MudTooltip>
                    <MudTooltip Text="cropper.move(10, 0)">
                        <MudIconButton Icon="@Icons.Material.Filled.ArrowRightAlt" OnClick="@(()=>Move(10, 0))" Title="Move Right" />
                    </MudTooltip>
                    <MudTooltip Text="cropper.move(0, -10)">
                        <MudIconButton Icon="@Icons.Material.Filled.ArrowUpward" OnClick="@(()=>Move(0, -10))" Title="Move Up" />
                    </MudTooltip>
                    <MudTooltip Text="cropper.move(0, 10)">
                        <MudIconButton Icon="@Icons.Material.Filled.ArrowDownward" OnClick="@(()=>Move(0, 10))" Title="Move Down" />
                    </MudTooltip>
                </MudButtonGroup>

                <MudButtonGroup Color="Color.Primary" Variant="Variant.Filled">
                    <MudTooltip Text="cropper.rotate(-45)">
                        <MudIconButton Icon="@Icons.Material.Filled.RotateLeft" OnClick="@(()=>Rotate(-45))" Title="Rotate Left" />
                    </MudTooltip>
                    <MudTooltip Text="cropper.rotate(45)">
                        <MudIconButton Icon="@Icons.Material.Filled.RotateRight" OnClick="@(()=>Rotate(45))" Title="Rotate Right" />
                    </MudTooltip>
                </MudButtonGroup>

                <MudButtonGroup Color="Color.Primary" Variant="Variant.Filled">
                    <MudTooltip Text="cropper.scaleX(-1)">
                        <MudIconButton Icon="@Icons.Material.Filled.SwapHoriz" OnClick="@(()=>ScaleX(-1m*scaleX))" Title="Flip Horizontal" />
                    </MudTooltip>
                    <MudTooltip Text="cropper.scaleY(-1)">
                        <MudIconButton Icon="@Icons.Material.Filled.SwapVert" OnClick="@(()=>ScaleY(-1m*scaleY))" Title="Flip Vertical" />
                    </MudTooltip>
                </MudButtonGroup>

                <MudButtonGroup Color="Color.Primary" Variant="Variant.Filled">
                    <MudTooltip Text="cropper.crop()">
                        <MudIconButton Icon="@Icons.Material.Filled.Done" OnClick="Crop" Title="Crop" />
                    </MudTooltip>
                    <MudTooltip Text="cropper.clear()">
                        <MudIconButton Icon="@Icons.Material.Filled.Clear" OnClick="Clear" Title="Clear" />
                    </MudTooltip>
                </MudButtonGroup>

                <MudButtonGroup Color="Color.Primary" Variant="Variant.Filled">
                    <MudTooltip Text="cropper.disable()">
                        <MudIconButton Icon="@Icons.Material.Filled.Lock" OnClick="Disable" Title="Disable" />
                    </MudTooltip>
                    <MudTooltip Text="cropper.enable()">
                        <MudIconButton Icon="@Icons.Material.Filled.LockOpen" OnClick="Enable" Title="Enable" />
                    </MudTooltip>
                </MudButtonGroup>

                <MudButtonGroup Color="Color.Primary" Variant="Variant.Filled">
                    <MudTooltip Text="cropper.reset()">
                        <MudIconButton Icon="@Icons.Material.Filled.Sync" OnClick="Reset" Title="Reset" />
                    </MudTooltip>
                    <MudTooltip Text="Import image with Blob URLs">
                        <InputFile id="imageInput" OnChange="InputFileChange" accept="image/*" hidden multiple />
                        <MudIconButton HtmlTag="label" Icon="@Icons.Filled.PhotoCamera" for="imageInput" Title="Upload image file" />
                    </MudTooltip>
                    <MudTooltip Text="cropper.destroy()">
                        <MudIconButton Icon="@Icons.Material.Filled.PowerOff" OnClick="Destroy" Title="Destroy" />
                    </MudTooltip>
                </MudButtonGroup>

                <MudTooltip Text="cropper.moveTo(0)">
                    <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="@(()=>MoveTo(0, 0))">
                        Move to [0,0]
                    </MudButton>
                </MudTooltip>
                <MudTooltip Text="cropper.zoomTo(1)">
                    <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="@(()=>ZoomTo(1, 0, 0))">
                        Zoom to 100%
                    </MudButton>
                </MudTooltip>
                <MudTooltip Text="cropper.rotateTo(180)">
                    <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="@(()=>Rotate(180))" StartIcon="@Icons.Material.Filled.RotateRight">
                        180°
                    </MudButton>
                </MudTooltip>
                <MudTooltip Text="cropper.scale(-2, -1)">
                    <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="@(()=>Scale(-2 * scaleX, -1 * scaleY))">
                        Scale (-2, -1)
                    </MudButton>
                </MudTooltip>
            </MudPaper>
        </MudItem>
        @*//---Aspect Ratio | View Mode | Get Cropped Canvas---//*@
        <MudItem xxl="3" xl="4" lg="5" md="5" sm="12" xs="12">
            <MudPaper Class="pa-4 d-flex flex-column justify-center gap-2" Elevation="2">
                <MudButtonGroup Color="Color.Success" Variant="Variant.Filled" Class="mud-width-full">
                    <MudTooltip Text="aspectRatio: 16 / 9" RootClass="mud-width-full">
                        <MudButton OnClick="@(()=>SetAspectRatio(1.7777777777777777m))" FullWidth="true">
                            16:9
                        </MudButton>
                    </MudTooltip>
                    <MudTooltip Text="aspectRatio: 4 / 3" RootClass="mud-width-full">
                        <MudButton OnClick="@(()=>SetAspectRatio(1.3333333333333333m))" FullWidth="true">
                            4:3
                        </MudButton>
                    </MudTooltip>
                    <MudTooltip Text="aspectRatio: 1 / 1" RootClass="mud-width-full">
                        <MudButton OnClick="@(()=>SetAspectRatio(1m))" FullWidth="true">
                            1:1
                        </MudButton>
                    </MudTooltip>
                    <MudTooltip Text="aspectRatio: 2 / 3" RootClass="mud-width-full">
                        <MudButton OnClick="@(()=>SetAspectRatio(0.6666666666666666m))" FullWidth="true">
                            2:3
                        </MudButton>
                    </MudTooltip>
                    <MudTooltip Text="aspectRatio: NaN" RootClass="mud-width-full">
                        <MudButton OnClick="@(()=>SetAspectRatio(0.0m))" FullWidth="true">
                            Free
                        </MudButton>
                    </MudTooltip>
                </MudButtonGroup>
                <MudButtonGroup Color="Color.Success" Variant="Variant.Filled" Class="mud-width-full">
                    <MudTooltip Text="View Mode 0" RootClass="mud-width-full">
                        <MudButton OnClick="@(()=>SetViewMode(Cropper.Blazor.Models.ViewMode.Vm0))" FullWidth="true">
                            VM0
                        </MudButton>
                    </MudTooltip>
                    <MudTooltip Text="View Mode 1" RootClass="mud-width-full">
                        <MudButton OnClick="@(()=>SetViewMode(Cropper.Blazor.Models.ViewMode.Vm1))" FullWidth="true">
                            VM1
                        </MudButton>
                    </MudTooltip>
                    <MudTooltip Text="View Mode 2" RootClass="mud-width-full">
                        <MudButton OnClick="@(()=>SetViewMode(Cropper.Blazor.Models.ViewMode.Vm2))" FullWidth="true">
                            VM2
                        </MudButton>
                    </MudTooltip>
                    <MudTooltip Text="View Mode 3" RootClass="mud-width-full">
                        <MudButton OnClick="@(()=>SetViewMode(Cropper.Blazor.Models.ViewMode.Vm3))" FullWidth="true">
                            VM3
                        </MudButton>
                    </MudTooltip>
                </MudButtonGroup>
                <MudButtonGroup Color="Color.Success" Variant="Variant.Filled" Class="mud-width-full">
                    <MudTooltip Text="cropper.getCroppedCanvas({ maxWidth: 4096, maxHeight: 4096 })" RootClass="mud-width-full">
                        <MudButton OnClick="@(()=>GetCroppedCanvasDataURL(new Models.GetCroppedCanvasOptions(){ MaxHeight = 4096, MaxWidth = 4096}))"
                                   FullWidth="true">
                            Get Cropped Canvas
                        </MudButton>
                    </MudTooltip>
                    <MudTooltip Text="cropper.getCroppedCanvas({ width: 640, height: 360 })">
                        <MudButton OnClick="@(()=>GetCroppedCanvasDataURL(new Models.GetCroppedCanvasOptions(){ MaxHeight = 360, MaxWidth = 480}))">
                            640&times;360
                        </MudButton>
                    </MudTooltip>
                </MudButtonGroup>
            </MudPaper>
        </MudItem>
        @*//+---// Get/Set all cropper data //---+//*@
        @*//---Cropper Data---//*@
        <MudItem xxl="3" xl="3" lg="3" md="3" sm="6" xs="6">
            <MudCard>
                <MudCardContent>
                    <MudText>Cropper Data</MudText>
                    <MudNumericField Class="mb-2" HideSpinButtons="true" @bind-Value="cropperData.X" Label="X, px" Variant="Variant.Text" Step=".2M" />
                    <MudNumericField Class="mb-2" HideSpinButtons="true" @bind-Value="cropperData.Y" Label="Y, px" Variant="Variant.Text" Step=".2M" />
                    <MudNumericField Class="mb-2" HideSpinButtons="true" @bind-Value="cropperData.Width" Label="Width, px" Variant="Variant.Text" Step=".2M" />
                    <MudNumericField Class="mb-2" HideSpinButtons="true" @bind-Value="cropperData.Height" Label="Height, px" Variant="Variant.Text" Step=".2M" />
                    <MudNumericField Class="mb-2" HideSpinButtons="true" @bind-Value="cropperData.Rotate" Label="Rotate, deg" Variant="Variant.Text" Step=".2M" />
                    <MudNumericField Class="mb-2" HideSpinButtons="true" @bind-Value="cropperData.ScaleX" Label="ScaleX" Variant="Variant.Text" Step=".2M" />
                    <MudNumericField HideSpinButtons="true" @bind-Value="cropperData.ScaleY" Label="ScaleY" Variant="Variant.Text" Step=".2M" />
                </MudCardContent>
                <MudCardActions Class="d-flex justify-space-between">
                    <MudTooltip Text="cropper.getData()">
                        <MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="@(()=>GetData(false))">
                            Get Data
                        </MudButton>
                    </MudTooltip>
                    <MudTooltip Text="cropper.setData(data)">
                        <MudButton Variant="Variant.Outlined" Color="Color.Primary"
                                   OnClick="@(()=>SetData(new Models.SetDataOptions(){ X = cropperData.X, Y = cropperData.Y, Height = cropperData.Height, Width = cropperData.Width, Rotate = cropperData.Rotate, ScaleX = cropperData.ScaleX, ScaleY = cropperData.ScaleY}))">
                            Set Data
                        </MudButton>
                    </MudTooltip>
                </MudCardActions>
            </MudCard>
        </MudItem>
        @*//---Container and Crop Box Data---//*@
        <MudItem xxl="3" xl="3" lg="3" md="3" sm="6" xs="6">
            <MudCard Class="mb-6">
                <MudCardContent>
                    <MudText>Container Data</MudText>
                    <MudNumericField Class="mb-2" HideSpinButtons="true" @bind-Value="containerData.Height" Label="Height, px" Variant="Variant.Text" Step=".2M" />
                    <MudNumericField HideSpinButtons="true" @bind-Value="containerData.Width" Label="Width, px" Variant="Variant.Text" Step=".2M" />
                </MudCardContent>
                <MudCardActions>
                    <MudTooltip Text="cropper.getContainerData()" RootClass="mud-width-full">
                        <MudButton Variant="Variant.Outlined" Color="Color.Primary" FullWidth="true" OnClick="GetContainerData">
                            Get Container Data
                        </MudButton>
                    </MudTooltip>
                </MudCardActions>
            </MudCard>
            @*//---Crop Box Data---//*@
            <MudCard>
                <MudCardContent>
                    <MudText>Crop Box Data</MudText>
                    <MudNumericField Class="mb-2" HideSpinButtons="true" @bind-Value="cropBoxData.Left" Label="Left" Variant="Variant.Text" Step=".2M" />
                    <MudNumericField Class="mb-2" HideSpinButtons="true" @bind-Value="cropBoxData.Top" Label="Top" Variant="Variant.Text" Step=".2M" />
                    <MudNumericField Class="mb-2" HideSpinButtons="true" @bind-Value="cropBoxData.Height" Label="Height, px" Variant="Variant.Text" Step=".2M" />
                    <MudNumericField HideSpinButtons="true" @bind-Value="cropBoxData.Width" Label="Width, px" Variant="Variant.Text" Step=".2M" />
                </MudCardContent>
                <MudCardActions Class="d-flex justify-space-between">
                    <MudTooltip Text="cropper.getCropBoxData()">
                        <MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="GetCropBoxData">
                            Get Data
                        </MudButton>
                    </MudTooltip>
                    <MudTooltip Text="cropper.setCropBoxData(data)">
                        <MudButton Variant="Variant.Outlined" Color="Color.Primary"
                                   OnClick="@(()=>SetCropBoxData(new Models.SetCropBoxDataOptions(){ Height = cropBoxData.Height, Left = cropBoxData.Left, Top = cropBoxData.Top, Width = cropBoxData.Width}))">
                            Set Data
                        </MudButton>
                    </MudTooltip>
                </MudCardActions>
            </MudCard>
        </MudItem>
        @*//---Image Data---//*@
        <MudItem xxl="3" xl="3" lg="3" md="3" sm="6" xs="6">
            <MudCard>
                <MudCardContent>
                    <MudText>Image Data</MudText>
                    <MudNumericField Class="mb-2" HideSpinButtons="true" @bind-Value="imageData.Height" Label="Height, px" Variant="Variant.Text" Step=".2M" />
                    <MudNumericField Class="mb-2" HideSpinButtons="true" @bind-Value="imageData.Width" Label="Width, px" Variant="Variant.Text" Step=".2M" />
                    <MudNumericField Class="mb-2" HideSpinButtons="true" @bind-Value="imageData.Rotate" Label="Rotate, deg" Variant="Variant.Text" Step=".2M" />
                    <MudNumericField Class="mb-2" HideSpinButtons="true" @bind-Value="imageData.ScaleX" Label="ScaleX" Variant="Variant.Text" Step=".2M" />
                    <MudNumericField Class="mb-2" HideSpinButtons="true" @bind-Value="imageData.ScaleY" Label="ScaleY" Variant="Variant.Text" Step=".2M" />
                    <MudNumericField Class="mb-2" HideSpinButtons="true" @bind-Value="imageData.NaturalHeight" Label="Natural Height, px" Variant="Variant.Text" Step=".2M" />
                    <MudNumericField Class="mb-2" HideSpinButtons="true" @bind-Value="imageData.NaturalWidth" Label="Natural Width, px" Variant="Variant.Text" Step=".2M" />
                    <MudNumericField Class="mb-2" HideSpinButtons="true" @bind-Value="imageData.AspectRatio" Label="Aspect Ratio" Variant="Variant.Text" Step=".2M" />
                    <MudNumericField Class="mb-2" HideSpinButtons="true" @bind-Value="imageData.Left" Label="Left" Variant="Variant.Text" Step=".2M" />
                    <MudNumericField HideSpinButtons="true" @bind-Value="imageData.Top" Label="Top" Variant="Variant.Text" Step=".2M" />
                </MudCardContent>
                <MudCardActions>
                    <MudTooltip Text="cropper.getImageData()" RootClass="mud-width-full">
                        <MudButton Variant="Variant.Outlined" Color="Color.Primary" FullWidth="true" OnClick="GetImageData">
                            Get Image Data
                        </MudButton>
                    </MudTooltip>
                </MudCardActions>
            </MudCard>
        </MudItem>
        @*//---Canvas Data---//*@
        <MudItem xxl="3" xl="3" lg="3" md="3" sm="6" xs="6">
            <MudCard>
                <MudCardContent>
                    <MudText>Canvas Data</MudText>
                    <MudNumericField Class="mb-2" HideSpinButtons="true" @bind-Value="canvasData.Left" Label="Left" Variant="Variant.Text" Step=".2M" />
                    <MudNumericField Class="mb-2" HideSpinButtons="true" @bind-Value="canvasData.Top" Label="Top" Variant="Variant.Text" Step=".2M" />
                    <MudNumericField Class="mb-2" HideSpinButtons="true" @bind-Value="canvasData.NaturalHeight" Label="Natural Height, px" Variant="Variant.Text" Step=".2M" />
                    <MudNumericField Class="mb-2" HideSpinButtons="true" @bind-Value="canvasData.NaturalWidth" Label="Natural Width, px" Variant="Variant.Text" Step=".2M" />
                    <MudNumericField Class="mb-2" HideSpinButtons="true" @bind-Value="canvasData.Height" Label="Height, px" Variant="Variant.Text" Step=".2M" />
                    <MudNumericField HideSpinButtons="true" @bind-Value="canvasData.Width" Label="Width, px" Variant="Variant.Text" Step=".2M" />
                </MudCardContent>
                <MudCardActions Class="d-flex justify-space-between">
                    <MudTooltip Text="cropper.getCanvasData()">
                        <MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="GetCanvasData">
                            Get Data
                        </MudButton>
                    </MudTooltip>
                    <MudTooltip Text="cropper.setCanvasData(data)">
                        <MudButton Variant="Variant.Outlined" Color="Color.Primary"
                                   OnClick="@(()=>SetCanvasData(new Models.SetCanvasDataOptions(){ Height = canvasData.Height, Left = canvasData.Left, Top = canvasData.Top, Width = canvasData.Width}))">
                            Set Data
                        </MudButton>
                    </MudTooltip>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</MudContainer>
