@page "/demo"
@implements IBrowserViewportObserver
@layout LandingLayout
@attribute [SitemapUrl(changeFreq: ChangeFreq.Daily, priority: 0.9)]

@using Cropper.Blazor.Client.Components
@using Cropper.Blazor.Components
@using Cropper.Blazor.Extensions;
@using Cropper.Blazor.Models
@using Cropper.Blazor.Shared.Attributes
@using Cropper.Blazor.Shared.Models

<SeoHeader Title="Demo - Cropper.Blazor"
           Overview="Cropper.Blazor is a component that wraps around Cropper.js."
           Keywords="@(
            new []
            {
                "demo"
            })" />

<MudContainer Class="@((Start.Equals(Breakpoint.Xl) || Start.Equals(Breakpoint.Xxl) ? "mud-container-maxwidth-xl " : "") + "mt-5")">
    <MudGrid Spacing="3" Class="mt-2">
        @*//---Cropper Component---//*@
        <MudItem xxl="7" xl="8" lg="8" md="9" sm="12" xs="12">
            <MudPaper Class="pa-4" Elevation="2">
                <div class="@GetClassNameCropper()">
                    <CropperComponent Class="cropper-container"
                                      ErrorLoadImageClass="cropper-error-load"
                                      @ref="CropperComponent"
                                      OnCropStartEvent="OnCropStartEvent"
                                      OnCropEndEvent="OnCropEndEvent"
                                      OnCropEvent="OnCropEvent"
                                      OnZoomEvent="OnZoomEvent"
                                      OnCropMoveEvent="OnCropMoveEvent"
                                      OnReadyEvent="OnCropReadyEvent"
                                      OnLoadImageEvent="OnLoadImageEvent"
                                      Src="@Src"
                                      InputAttributes="@InputAttributes"
                                      ErrorLoadImageSrc="@_errorLoadImageSrc"
                                      IsErrorLoadImage="@IsErrorLoadImage"
                                      OnErrorLoadImageEvent="OnErrorLoadImageEvent"
                                      Options="Options"
                                      IsAvailableInitCropper="IsAvailableInitCropper" />
                </div>
            </MudPaper>
        </MudItem>
        @*//---Img preview and data---//*@
        <MudItem xxl="5" xl="4" lg="4" md="3" sm="12" xs="12">
            <MudPaper Class="pa-4 d-flex flex-column justify-center mud-height-full" Elevation="2">
                <div class="d-flex flex-row flex-wrap justify-center gap-1 mb-2 mh-100">
                    <div @ref="ElementReferencePreviewLg" class="img-preview preview-lg"></div>
                    <div class="d-flex flex-row flex-wrap gap-1">
                        <div @ref="ElementReferencePreviewMd" class="img-preview preview-md"></div>
                        <div class="d-flex flex-column flex-wrap align-center gap-1">
                            <div @ref="ElementReferencePreviewSm" class="img-preview preview-sm"></div>
                            <div @ref="ElementReferencePreviewXs" class="img-preview preview-xs"></div>
                        </div>
                    </div>
                </div>
                <div class="docs-data">
                    <CropperDataPreview @ref="CropperDataPreview"></CropperDataPreview>
                </div>
            </MudPaper>
        </MudItem>

        <MudItem sm="12" xs="12" Class="pt-0">
            <MudExpansionPanels Dense="true" Gutters="true" Outlined="false" Elevation="0">
                <MudExpansionPanel Expanded="true" Gutters="true" Style="background-color: var(--mud-palette-background)">
                    <TitleContent>
                        <div class="d-flex">
                            <MudIcon Icon="@Icons.Material.Filled.Handyman" class="mr-3"></MudIcon>
                            <MudText Typo="Typo.h6">Actions</MudText>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <MudGrid Spacing="3">
                            @*//---Buttons for test cropper functional---//*@
                            <MudItem xxl="8" xl="7" lg="7" md="7" sm="12" xs="12">
                                <MudPaper Class="pa-4 d-flex flex-row flex-wrap gap-x-4 gap-y-4 justify-center" Elevation="2">
                                    <MudButtonGroup Color="Color.Primary" Variant="Variant.Filled">
                                        <MudTooltip Text="@("cropper.setDragMode(\"move\")")">
                                            <MudToggleIconButton Icon="@Icons.Material.Filled.OpenWith" ToggledIcon="@Icons.Material.Filled.OpenWith"
                                                                 ToggledColor="@Color.Dark" title="Move" ToggledChanged="SetMoveDragMode" />
                                        </MudTooltip>
                                        <MudTooltip Text="@("cropper.setDragMode(\"crop\")")">
                                            <MudToggleIconButton Icon="@Icons.Material.Filled.Crop" ToggledIcon="@Icons.Material.Filled.Crop"
                                                                 ToggledColor="@Color.Dark" title="Crop" ToggledChanged="SetCropDragMode" />
                                        </MudTooltip>
                                    </MudButtonGroup>

                                    <MudButtonGroup Color="Color.Primary" Variant="Variant.Filled">
                                        <MudTooltip Text="Zoom In">
                                            <MudIconButton Icon="@Icons.Material.Filled.ZoomIn" OnClick="@(()=>Zoom(0.1m))" title="Zoom In" />
                                        </MudTooltip>
                                        <MudTooltip Text="Zoom Out">
                                            <MudIconButton Icon="@Icons.Material.Filled.ZoomOut" OnClick="@(()=>Zoom(-0.1m))" Title="Zoom Out" />
                                        </MudTooltip>
                                    </MudButtonGroup>

                                    <MudButtonGroup Color="Color.Primary" Variant="Variant.Filled">
                                        <MudTooltip Text="cropper.move(-10, 0)">
                                            <MudIconButton Icon="@Icons.Material.Filled.ArrowBack" OnClick="@(()=>Move(-10, 0))" title="Move Left" />
                                        </MudTooltip>
                                        <MudTooltip Text="cropper.move(10, 0)">
                                            <MudIconButton Icon="@Icons.Material.Filled.ArrowRightAlt" OnClick="@(()=>Move(10, 0))" title="Move Right" />
                                        </MudTooltip>
                                        <MudTooltip Text="cropper.move(0, -10)">
                                            <MudIconButton Icon="@Icons.Material.Filled.ArrowUpward" OnClick="@(()=>Move(0, -10))" title="Move Up" />
                                        </MudTooltip>
                                        <MudTooltip Text="cropper.move(0, 10)">
                                            <MudIconButton Icon="@Icons.Material.Filled.ArrowDownward" OnClick="@(()=>Move(0, 10))" title="Move Down" />
                                        </MudTooltip>
                                    </MudButtonGroup>

                                    <MudButtonGroup Color="Color.Primary" Variant="Variant.Filled">
                                        <MudTooltip Text="cropper.rotate(-45)">
                                            <MudIconButton Icon="@Icons.Material.Filled.RotateLeft" OnClick="@(()=>Rotate(-45))" title="Rotate Left" />
                                        </MudTooltip>
                                        <MudTooltip Text="cropper.rotate(45)">
                                            <MudIconButton Icon="@Icons.Material.Filled.RotateRight" OnClick="@(()=>Rotate(45))" title="Rotate Right" />
                                        </MudTooltip>
                                    </MudButtonGroup>

                                    <MudButtonGroup Color="Color.Primary" Variant="Variant.Filled">
                                        <MudTooltip Text="cropper.scaleX(-1)">
                                            <MudIconButton Icon="@Icons.Material.Filled.SwapHoriz" OnClick="@(()=>ScaleX(-1m * ScaleXValue))" title="Flip Horizontal" />
                                        </MudTooltip>
                                        <MudTooltip Text="cropper.scaleY(-1)">
                                            <MudIconButton Icon="@Icons.Material.Filled.SwapVert" OnClick="@(()=>ScaleY(-1m * ScaleYValue))" title="Flip Vertical" />
                                        </MudTooltip>
                                    </MudButtonGroup>

                                    <MudButtonGroup Color="Color.Primary" Variant="Variant.Filled">
                                        <MudTooltip Text="cropper.crop()">
                                            <MudIconButton Icon="@Icons.Material.Filled.Done" OnClick="Crop" title="Crop" />
                                        </MudTooltip>
                                        <MudTooltip Text="cropper.clear()">
                                            <MudIconButton Icon="@Icons.Material.Filled.Clear" OnClick="Clear" title="Clear" />
                                        </MudTooltip>
                                    </MudButtonGroup>

                                    <MudButtonGroup Color="Color.Primary" Variant="Variant.Filled" Class="d-inline-flex">
                                        <MudTooltip Text="cropper.disable()">
                                            <MudIconButton Icon="@Icons.Material.Filled.Lock" OnClick="Disable" title="Disable" />
                                        </MudTooltip>
                                        <MudTooltip Text="cropper.enable()">
                                            <MudIconButton Icon="@Icons.Material.Filled.LockOpen" OnClick="Enable" title="Enable" />
                                        </MudTooltip>
                                    </MudButtonGroup>

                                    <MudButtonGroup Color="Color.Primary" Variant="Variant.Filled">
                                        <MudTooltip Text="cropper.reset()">
                                            <MudIconButton Icon="@Icons.Material.Filled.Sync" OnClick="Reset" title="Reset" />
                                        </MudTooltip>
                                        <MudTooltip Text="Import image with Blob URLs">
                                            <InputFile id="imageInput" OnChange="InputFileChangeAsync" accept="image/*" hidden />
                                            <MudIconButton HtmlTag="label" Icon="@Icons.Material.Filled.PhotoCamera" for="imageInput" title="Upload image file" />
                                        </MudTooltip>
                                        <MudTooltip Text="Replace image with Blob URLs">
                                            <InputFile id="imageReplaceInput" OnChange="ReplaceImageAsync" accept="image/*" hidden />
                                            <MudIconButton HtmlTag="label" Icon="@Icons.Material.Filled.FindReplace" for="imageReplaceInput" title="Replace image file" />
                                        </MudTooltip>
                                        <MudTooltip Text="cropper.destroy()">
                                            <MudIconButton Icon="@Icons.Material.Filled.PowerOff" OnClick="Destroy" title="Destroy" />
                                        </MudTooltip>
                                    </MudButtonGroup>

                                    <MudTooltip Text="cropper.moveTo(0)">
                                        <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="@(()=>MoveTo(0, 0))">
                                            Move to [0,0]
                                        </MudButton>
                                    </MudTooltip>
                                    <MudTooltip Text="cropper.zoomTo(1)">
                                        <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="@(()=>ZoomTo(1, 0, 0))">
                                            Zoom to 100%
                                        </MudButton>
                                    </MudTooltip>
                                    <MudTooltip Text="cropper.rotateTo(180)">
                                        <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="@(()=>Rotate(180))" StartIcon="@Icons.Material.Filled.RotateRight">
                                            180&#176;
                                        </MudButton>
                                    </MudTooltip>
                                    <MudTooltip Text="cropper.scale(-2, -1)">
                                        <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="@(()=>Scale(-2 * ScaleXValue, -1 * ScaleYValue))">
                                            Scale (-2, -1)
                                        </MudButton>
                                    </MudTooltip>
                                    <MudTooltip Text="cropper.getCroppedCanvasDataURL({ maxWidth: 16096, maxHeight: 16096 })">
                                        <MudButton Color="Color.Secondary" Variant="Variant.Filled"
                                                   OnClick="@(()=>GetCroppedCanvasDataURL(new GetCroppedCanvasOptions(){ MaxHeight = 16096, MaxWidth = 16096, ImageSmoothingQuality = ImageSmoothingQuality.High.ToEnumString() }))">
                                            Get Cropped Canvas by URL
                                        </MudButton>
                                    </MudTooltip>
                                    <MudTooltip Text="cropper.getCroppedCanvasData({ maxWidth: 16096, maxHeight: 16096 })">
                                        <MudButton Color="Color.Secondary" Variant="Variant.Filled"
                                                   OnClick="@(()=>GetCroppedCanvasData(new GetCroppedCanvasOptions(){ MaxHeight = 16096, MaxWidth = 16096, ImageSmoothingQuality = ImageSmoothingQuality.High.ToEnumString() }))">
                                            Get Cropped Canvas by element
                                        </MudButton>
                                    </MudTooltip>
                                    <MudButtonGroup Color="Color.Secondary" Variant="Variant.Filled">
                                        <MudTooltip Text="cropper.getCroppedCanvasDataURL({ width: 320, height: 180 })">
                                            <MudButton OnClick="@(()=>GetCroppedCanvasDataURL(new GetCroppedCanvasOptions(){ MaxHeight = 180, MaxWidth = 320, ImageSmoothingQuality = ImageSmoothingQuality.High.ToEnumString() }))">
                                                320&times;180
                                            </MudButton>
                                        </MudTooltip>
                                        <MudTooltip Text="cropper.getCroppedCanvasData({ width: 640, height: 360 })">
                                            <MudButton OnClick="@(()=>GetCroppedCanvasData(new GetCroppedCanvasOptions(){ MaxHeight = 360, MaxWidth = 480, ImageSmoothingQuality = ImageSmoothingQuality.High.ToEnumString() }))">
                                                640&times;360
                                            </MudButton>
                                        </MudTooltip>
                                    </MudButtonGroup>
                                    <MudTooltip Text="Get Cropped Canvas by element In Background ({ maxWidth: 16096, maxHeight: 16096 })">
                                        <MudButton Color="Color.Secondary" Variant="Variant.Filled"
                                                   OnClick="@(()=>GetCroppedCanvasInBackgroundAsync(new GetCroppedCanvasOptions(){ MaxHeight = 16096, MaxWidth = 16096, ImageSmoothingQuality = ImageSmoothingQuality.High.ToEnumString() }))">
                                            Get Cropped Canvas by element In Background
                                        </MudButton>
                                    </MudTooltip>
                                    <MudTooltip Text="Get Chunked Stream Image In Background ({ maxWidth: 16096, maxHeight: 16096 })">
                                        <MudButton Color="Color.Secondary" Variant="Variant.Filled"
                                                   OnClick="@(()=>GetImageChunkStreamAsync(new GetCroppedCanvasOptions(){ MaxHeight = 16096, MaxWidth = 16096, ImageSmoothingQuality = ImageSmoothingQuality.High.ToEnumString() }))">
                                            Get Chunked Stream Image In Background
                                        </MudButton>
                                    </MudTooltip>
                                </MudPaper>
                            </MudItem>
                            @*//---Aspect Ratio | View Mode | Get Cropped Canvas---//*@
                            <MudItem xxl="4" xl="5" lg="5" md="5" sm="12" xs="12">
                                <MudPaper Class="pa-4 d-flex flex-column justify-center gap-4 mud-height-full" Elevation="2">
                                    <MudBreakpointProvider>
                                        <MudHidden Breakpoint="Breakpoint.SmAndUp" Invert="true">
                                            <MudButtonGroup Vertical="false" Variant="Variant.Filled" OverrideStyles="false" Class="mud-width-full">
                                                <MudTooltip Text="Get cropped image with polygon filter" RootClass="mud-width-full">
                                                    <MudButton OnClick="@(()=>GetCroppedCanvasDataByPolygonFilter(new GetCroppedCanvasOptions(){ MaxHeight = 4096, MaxWidth = 4096, ImageSmoothingQuality = ImageSmoothingQuality.High.ToEnumString() }))"
                                                               Color="Color.Secondary" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.CropOriginal"
                                                               Class="ml-0 mud-width-full" Style="height: 100%">
                                                        GET
                                                    </MudButton>
                                                </MudTooltip>
                                                <MudTooltip Text="Get cropped image with polygon filter in background" RootClass="mud-width-full">
                                                    <MudButton OnClick="@(()=>GetCroppedCanvasDataByPolygonFilterInBackground(new GetCroppedCanvasOptions(){ MaxHeight = 16096, MaxWidth = 16096, ImageSmoothingQuality = ImageSmoothingQuality.High.ToEnumString() }))"
                                                               Color="Color.Secondary" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.CropOriginal"
                                                               Class="ml-0 mud-width-full" Style="height: 100%">
                                                        GET In Background
                                                    </MudButton>
                                                </MudTooltip>
                                            </MudButtonGroup>
                                            <MudButtonGroup Vertical="false" Variant="Variant.Filled" OverrideStyles="false" Class="mud-width-full">
                                                <MudMenu Dense="true" Class="mud-width-full" MaxHeight="350"
                                                         AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopCenter">
                                                    <ActivatorContent>
                                                        <MudTooltip RootClass="mud-width-full" Text="Toggle options with three state options - default (null), true, false">
                                                            <MudButton Variant="Variant.Filled" Color="Color.Primary" EndIcon="@Icons.Material.Filled.KeyboardArrowDown" FullWidth="true">Toggle Options</MudButton>
                                                        </MudTooltip>
                                                    </ActivatorContent>
                                                    <ChildContent>
                                                        <MudList T="bool" ReadOnly="false" Dense="true">
                                                            @foreach (var item in Options.GetType().GetProperties().Where(p => p.PropertyType == typeof(bool?)))
                                                            {
                                                                <MudListItem>
                                                                    <MudCheckBox Label="@item.Name" Size="Size.Small" Dense="true" TriState="true" Value="(bool?)item.GetValue(Options, null)"
                                                                                 ValueChanged="@((bool? newValue) => OptionsChecked(item.Name, newValue))" />
                                                                </MudListItem>
                                                            }
                                                        </MudList>
                                                    </ChildContent>
                                                </MudMenu>
                                            </MudButtonGroup>
                                            <MudButtonGroup Color="Color.Success" Variant="Variant.Filled" OverrideStyles="false" Class="mud-width-full">
                                                <MudTooltip Text="aspectRatio: 16 / 9" RootClass="mud-width-full">
                                                    <MudButton OnClick="@(()=>SetAspectRatio(1.7777777777777777m))" Color="Color.Success" Variant="Variant.Filled"
                                                               Style="@(Options.AspectRatio == 1.7777777777777777m ? "background-color: var(--mud-palette-success-darken)" : "")" FullWidth="true">
                                                        16:9
                                                    </MudButton>
                                                </MudTooltip>
                                                <MudTooltip Text="aspectRatio: 4 / 3" RootClass="mud-width-full">
                                                    <MudButton OnClick="@(()=>SetAspectRatio(1.3333333333333333m))" Color="Color.Success" Variant="Variant.Filled" Class="ml-0"
                                                               Style="@(Options.AspectRatio == 1.3333333333333333m ? "background-color: var(--mud-palette-success-darken)" : "")" FullWidth="true">
                                                        4:3
                                                    </MudButton>
                                                </MudTooltip>
                                                <MudTooltip Text="aspectRatio: 1 / 1" RootClass="mud-width-full">
                                                    <MudButton OnClick="@(()=>SetAspectRatio(1m))" Color="Color.Success" Variant="Variant.Filled" Class="ml-0"
                                                               Style="@(Options.AspectRatio == 1m ? "background-color: var(--mud-palette-success-darken)" : "")" FullWidth="true">
                                                        1:1
                                                    </MudButton>
                                                </MudTooltip>
                                                <MudTooltip Text="aspectRatio: 0" RootClass="mud-width-full">
                                                    <MudButton OnClick="@(()=>SetAspectRatio(0m))" Color="Color.Success" Variant="Variant.Filled" Class="ml-0"
                                                               Style="@(Options.AspectRatio == 0m ? "background-color: var(--mud-palette-success-darken)" : "")" FullWidth="true">
                                                        Free
                                                    </MudButton>
                                                </MudTooltip>
                                            </MudButtonGroup>
                                            <MudButtonGroup Color="Color.Success" Variant="Variant.Filled" OverrideStyles="false" Class="mud-width-full">
                                                <MudTooltip Text="View Mode 0" RootClass="mud-width-full">
                                                    <MudButton OnClick="@(()=>SetViewMode(ViewMode.Vm0))" Color="Color.Success" Variant="Variant.Filled" Class="ml-0"
                                                               Style="@(Options.ViewMode == ViewMode.Vm0 ? "background-color: var(--mud-palette-success-darken)" : "")" FullWidth="true">
                                                        VM0
                                                    </MudButton>
                                                </MudTooltip>
                                                <MudTooltip Text="View Mode 1" RootClass="mud-width-full">
                                                    <MudButton OnClick="@(()=>SetViewMode(ViewMode.Vm1))" Color="Color.Success" Variant="Variant.Filled" Class="ml-0"
                                                               Style="@(Options.ViewMode == ViewMode.Vm1 ? "background-color: var(--mud-palette-success-darken)" : "")" FullWidth="true">
                                                        VM1
                                                    </MudButton>
                                                </MudTooltip>
                                                <MudTooltip Text="View Mode 2" RootClass="mud-width-full">
                                                    <MudButton OnClick="@(()=>SetViewMode(ViewMode.Vm2))" Color="Color.Success" Variant="Variant.Filled" Class="ml-0"
                                                               Style="@(Options.ViewMode == ViewMode.Vm2 ? "background-color: var(--mud-palette-success-darken)" : "")" FullWidth="true">
                                                        VM2
                                                    </MudButton>
                                                </MudTooltip>
                                                <MudTooltip Text="View Mode 3" RootClass="mud-width-full">
                                                    <MudButton OnClick="@(()=>SetViewMode(ViewMode.Vm3))" Color="Color.Success" Variant="Variant.Filled" Class="ml-0"
                                                               Style="@(Options.ViewMode == ViewMode.Vm3 ? "background-color: var(--mud-palette-success-darken)" : "")" FullWidth="true">
                                                        VM3
                                                    </MudButton>
                                                </MudTooltip>
                                            </MudButtonGroup>
                                            <MudButtonGroup Color="Color.Success" Vertical="false" Variant="Variant.Filled" OverrideStyles="false" Class="mud-width-full">
                                                <MudTooltip Text="Default (Rectangle)" RootClass="mud-width-full">
                                                    <MudIconButton OnClick="@(()=>SetCropperFace(Enums.CropperFace.Default))" Color="Color.Success"
                                                                   Variant="Variant.Filled" Class="ml-0 mud-width-full" Icon="@Icons.Material.Filled.CropFree"
                                                                   Style="@(CropperFace == Enums.CropperFace.Default ? "background-color: var(--mud-palette-success-darken)" : "")" />
                                                </MudTooltip>
                                                <MudTooltip Text="Close" RootClass="mud-width-full">
                                                    <MudIconButton OnClick="@(()=>SetCropperFace(Enums.CropperFace.Close))" Color="Color.Success"
                                                                   Variant="Variant.Filled" Class="ml-0 mud-width-full" Icon="@Icons.Material.Filled.Close"
                                                                   Style="@(CropperFace == Enums.CropperFace.Close ? "background-color: var(--mud-palette-success-darken)" : "")" />
                                                </MudTooltip>
                                                <MudTooltip Text="Pentagon" RootClass="mud-width-full">
                                                    <MudIconButton OnClick="@(()=>SetCropperFace(Enums.CropperFace.Pentagon))" Color="Color.Success"
                                                                   Variant="Variant.Filled" Class="ml-0 mud-width-full" Icon="@Icons.Material.Filled.Pentagon"
                                                                   Style="@(CropperFace == Enums.CropperFace.Pentagon ? "background-color: var(--mud-palette-success-darken)" : "")" />
                                                </MudTooltip>
                                                <MudTooltip Text="Circle" RootClass="mud-width-full">
                                                    <MudIconButton OnClick="@(()=>SetCropperFace(Enums.CropperFace.Circle))" Color="Color.Success"
                                                                   Variant="Variant.Filled" Class="ml-0 mud-width-full" Icon="@Icons.Material.Filled.Circle"
                                                                   Style="@(CropperFace == Enums.CropperFace.Circle ? "background-color: var(--mud-palette-success-darken)" : "")" />
                                                </MudTooltip>
                                                <MudTooltip Text="Arrow" RootClass="mud-width-full">
                                                    <MudIconButton OnClick="@(()=>SetCropperFace(Enums.CropperFace.Arrow))" Color="Color.Success"
                                                                   Variant="Variant.Filled" Class="ml-0 mud-width-full" Icon="@Icons.Material.Filled.ArrowBack"
                                                                   Style="@(CropperFace == Enums.CropperFace.Arrow ? "background-color: var(--mud-palette-success-darken)" : "")" />
                                                </MudTooltip>
                                            </MudButtonGroup>
                                        </MudHidden>
                                        <MudHidden Breakpoint="Breakpoint.Xs" Invert="true">
                                            <MudButtonGroup Vertical="true" Variant="Variant.Filled" OverrideStyles="false" Class="mud-width-full">
                                                <MudTooltip Text="Get cropped image with polygon filter" RootClass="mud-width-full">
                                                    <MudButton OnClick="@(()=>GetCroppedCanvasDataByPolygonFilter(new GetCroppedCanvasOptions(){ MaxHeight = 4096, MaxWidth = 4096, ImageSmoothingQuality = ImageSmoothingQuality.High.ToEnumString() }))"
                                                               Color="Color.Secondary" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.CropOriginal"
                                                               Class="ml-0 mud-width-full" Style="height: 100%">
                                                        GET
                                                    </MudButton>
                                                </MudTooltip>

                                                <MudMenu Dense="true" Class="mud-width-full" MaxHeight="300"
                                                         AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
                                                    <ActivatorContent>
                                                        <MudButton Variant="Variant.Filled" Color="Color.Primary" EndIcon="@Icons.Material.Filled.KeyboardArrowDown" FullWidth="true">
                                                            Toggle Options
                                                        </MudButton>
                                                    </ActivatorContent>
                                                    <ChildContent>
                                                        <MudList T="bool" ReadOnly="false" Dense="true">
                                                            @foreach (var item in Options.GetType().GetProperties().Where(p => p.PropertyType == typeof(bool?)))
                                                            {
                                                                <MudListItem>
                                                                    <MudCheckBox Label="@item.Name" Size="Size.Small" Dense="true" TriState="true" Value="(bool?)item.GetValue(Options, null)"
                                                                                 ValueChanged="@((bool? newValue) => OptionsChecked(item.Name, newValue))" />
                                                                </MudListItem>
                                                            }
                                                        </MudList>
                                                    </ChildContent>
                                                </MudMenu>
                                            </MudButtonGroup>
                                            <MudButtonGroup Color="Color.Success" Vertical="true" Variant="Variant.Filled" OverrideStyles="false" Class="mud-width-full">
                                                <MudTooltip Text="aspectRatio: 16 / 9" RootClass="mud-width-full">
                                                    <MudButton OnClick="@(()=>SetAspectRatio(1.7777777777777777m))" Color="Color.Success" Variant="Variant.Filled"
                                                               Style="@(Options.AspectRatio == 1.7777777777777777m ? "background-color: var(--mud-palette-success-darken)" : "")" FullWidth="true">
                                                        16:9
                                                    </MudButton>
                                                </MudTooltip>
                                                <MudTooltip Text="aspectRatio: 4 / 3" RootClass="mud-width-full">
                                                    <MudButton OnClick="@(()=>SetAspectRatio(1.3333333333333333m))" Color="Color.Success" Variant="Variant.Filled"
                                                               Style="@(Options.AspectRatio == 1.3333333333333333m ? "background-color: var(--mud-palette-success-darken)" : "")" FullWidth="true">
                                                        4:3
                                                    </MudButton>
                                                </MudTooltip>
                                                <MudTooltip Text="aspectRatio: 1 / 1" RootClass="mud-width-full">
                                                    <MudButton OnClick="@(()=>SetAspectRatio(1m))" Color="Color.Success" Variant="Variant.Filled"
                                                               Style="@(Options.AspectRatio == 1m ? "background-color: var(--mud-palette-success-darken)" : "")" FullWidth="true">
                                                        1:1
                                                    </MudButton>
                                                </MudTooltip>
                                                <MudTooltip Text="aspectRatio: 2 / 3" RootClass="mud-width-full">
                                                    <MudButton OnClick="@(()=>SetAspectRatio(0.6666666666666666m))" Color="Color.Success" Variant="Variant.Filled"
                                                               Style="@(Options.AspectRatio == 0.6666666666666666m ? "background-color: var(--mud-palette-success-darken)" : "")" FullWidth="true">
                                                        2:3
                                                    </MudButton>
                                                </MudTooltip>
                                                <MudTooltip Text="aspectRatio: 0" RootClass="mud-width-full">
                                                    <MudButton OnClick="@(()=>SetAspectRatio(0m))" Color="Color.Success" Variant="Variant.Filled"
                                                               Style="@(Options.AspectRatio == 0m ? "background-color: var(--mud-palette-success-darken)" : "")" FullWidth="true">
                                                        Free
                                                    </MudButton>
                                                </MudTooltip>
                                            </MudButtonGroup>
                                            <MudButtonGroup Color="Color.Success" Vertical="true" Variant="Variant.Filled" OverrideStyles="false" Class="mud-width-full">
                                                <MudTooltip Text="View Mode 0" RootClass="mud-width-full">
                                                    <MudButton OnClick="@(()=>SetViewMode(ViewMode.Vm0))" Color="Color.Success" Variant="Variant.Filled"
                                                               Style="@(Options.ViewMode == ViewMode.Vm0 ? "background-color: var(--mud-palette-success-darken)" : "")" FullWidth="true">
                                                        VM0
                                                    </MudButton>
                                                </MudTooltip>
                                                <MudTooltip Text="View Mode 1" RootClass="mud-width-full">
                                                    <MudButton OnClick="@(()=>SetViewMode(ViewMode.Vm1))" Color="Color.Success" Variant="Variant.Filled"
                                                               Style="@(Options.ViewMode == ViewMode.Vm1 ? "background-color: var(--mud-palette-success-darken)" : "")" FullWidth="true">
                                                        VM1
                                                    </MudButton>
                                                </MudTooltip>
                                                <MudTooltip Text="View Mode 2" RootClass="mud-width-full">
                                                    <MudButton OnClick="@(()=>SetViewMode(ViewMode.Vm2))" Color="Color.Success" Variant="Variant.Filled"
                                                               Style="@(Options.ViewMode == ViewMode.Vm2 ? "background-color: var(--mud-palette-success-darken)" : "")" FullWidth="true">
                                                        VM2
                                                    </MudButton>
                                                </MudTooltip>
                                                <MudTooltip Text="View Mode 3" RootClass="mud-width-full">
                                                    <MudButton OnClick="@(()=>SetViewMode(ViewMode.Vm3))" Color="Color.Success" Variant="Variant.Filled"
                                                               Style="@(Options.ViewMode == ViewMode.Vm3 ? "background-color: var(--mud-palette-success-darken)" : "")" FullWidth="true">
                                                        VM3
                                                    </MudButton>
                                                </MudTooltip>
                                            </MudButtonGroup>
                                            <MudButtonGroup Color="Color.Success" Vertical="true" Variant="Variant.Filled" OverrideStyles="false" Class="mud-width-full">
                                                <MudTooltip Text="Default (Rectangle)" RootClass="mud-width-full">
                                                    <MudIconButton OnClick="@(()=>SetCropperFace(Enums.CropperFace.Default))" Color="Color.Success"
                                                                   Variant="Variant.Filled" Class="ml-0 mud-width-full" Icon="@Icons.Material.Filled.CropFree"
                                                                   Style="@(CropperFace == Enums.CropperFace.Default ? "background-color: var(--mud-palette-success-darken)" : "")" />
                                                </MudTooltip>
                                                <MudTooltip Text="Close" RootClass="mud-width-full">
                                                    <MudIconButton OnClick="@(()=>SetCropperFace(Enums.CropperFace.Close))" Color="Color.Success"
                                                                   Variant="Variant.Filled" Class="ml-0 mud-width-full" Icon="@Icons.Material.Filled.Close"
                                                                   Style="@(CropperFace == Enums.CropperFace.Close ? "background-color: var(--mud-palette-success-darken)" : "")" />
                                                </MudTooltip>
                                                <MudTooltip Text="Pentagon" RootClass="mud-width-full">
                                                    <MudIconButton OnClick="@(()=>SetCropperFace(Enums.CropperFace.Pentagon))" Color="Color.Success"
                                                                   Variant="Variant.Filled" Class="ml-0 mud-width-full" Icon="@Icons.Material.Filled.Pentagon"
                                                                   Style="@(CropperFace == Enums.CropperFace.Pentagon ? "background-color: var(--mud-palette-success-darken)" : "")" />
                                                </MudTooltip>
                                                <MudTooltip Text="Circle" RootClass="mud-width-full">
                                                    <MudIconButton OnClick="@(()=>SetCropperFace(Enums.CropperFace.Circle))" Color="Color.Success"
                                                                   Variant="Variant.Filled" Class="ml-0 mud-width-full" Icon="@Icons.Material.Filled.Circle"
                                                                   Style="@(CropperFace == Enums.CropperFace.Circle ? "background-color: var(--mud-palette-success-darken)" : "")" />
                                                </MudTooltip>
                                                <MudTooltip Text="Arrow" RootClass="mud-width-full">
                                                    <MudIconButton OnClick="@(()=>SetCropperFace(Enums.CropperFace.Arrow))" Color="Color.Success"
                                                                   Variant="Variant.Filled" Class="ml-0 mud-width-full" Icon="@Icons.Material.Filled.ArrowBack"
                                                                   Style="@(CropperFace == Enums.CropperFace.Arrow ? "background-color: var(--mud-palette-success-darken)" : "")" />
                                                </MudTooltip>
                                            </MudButtonGroup>
                                        </MudHidden>
                                    </MudBreakpointProvider>
                                </MudPaper>
                            </MudItem>
                        </MudGrid>
                    </ChildContent>
                </MudExpansionPanel>
            </MudExpansionPanels>
        </MudItem>
        @*//+---// Get/Set all cropper data //---+//*@
        <CascadingValue Value="@Reset" IsFixed="true" Name="ResetCropperAction">
            <CascadingValue Value="@Options.AspectRatio" Name="AspectRatio">
                <CascadingValue Value="@IsFreeAspectRatioEnabled" Name="IsFreeAspectRatioEnabled">
                    <CascadingValue Value="@CropperComponent" Name="CropperComponent">
                        <GetSetCropperData GetCanvasData="GetCanvasDataAsync"
                                           GetCropBoxData="GetCropBoxDataAsync"
                                           GetData="GetDataAsync"
                                           GetImageData="GetImageDataAsync"
                                           GetContainerData="GetContainerDataAsync"
                                           SetCanvasDataOptions="SetCanvasData"
                                           SetDataOptions="SetData"
                                           SetCropBoxDataOptions="SetCropBoxData"
                                           @ref="GetSetCropperData" />
                    </CascadingValue>
                </CascadingValue>
            </CascadingValue>
        </CascadingValue>
    </MudGrid>
</MudContainer>
