@page "/"
@using Cropper.Blazor.Client.Components
@using Cropper.Blazor.Client.Components.Docs
@using Cropper.Blazor.Client.Models;
@using Cropper.Blazor.Client.Pages.Examples.Installation
@using Cropper.Blazor.Client.Pages.Examples.Uses.Preview

<SeoHeader Title="Installation"
           Overview="Getting started with Cropper.Blazor for faster and easier web development."
           Keywords="@(
            new []
            {
                "home",
                "installation"
            })" />

<MudContainer Class="mt-5 px-4">
    <MudGrid Class="mt-5" Justify="Justify.Center">

        <MudItem xl="12" lg="12" md="12" sm="12" xs="12" Class="d-flex justify-center">
            <MudImage Src="cropperblazor.png" Fluid="true" Width="256" Height="256" />
        </MudItem>

        <MudItem xl="12" lg="12" md="12" sm="12" xs="12" Class="d-flex justify-center">
            <MudText Typo="Typo.h3" Align="Align.Center" Class="pa-0 ma-0 text-gradient">Cropper.Blazor</MudText>
        </MudItem>


        <MudItem xl="12" lg="12" md="12" sm="12" xs="12">
            <MudDivider DividerType="DividerType.FullWidth" Class="my-1 divider" />
        </MudItem>

        <MudItem xl="12" lg="12" md="12" sm="12" xs="12" Class="d-flex justify-center">
            <MudText Align="Align.Center" Class="pa-0 ma-0">
                <span style="color: var(--mud-palette-primary)"><b>Cropper.Blazor</b></span>
                is a component that wraps around
                <a href="https://github.com/fengyuanchen/cropperjs">
                    <span style="color: var(--mud-palette-secondary)"><b>Cropper.js</b></span>
                </a>
            </MudText>
        </MudItem>

        <MudItem xl="12" lg="12" md="12" sm="12" xs="12" Class="d-flex justify-center gap-4 pb-8">
            <MudButton Color="Color.Primary" Variant="Variant.Filled" DisableElevation="true"
                       Class="button-gradient" Size="Size.Large" Href="/demo">
                View Demo
            </MudButton>
            <MudButton Color="Color.Default" Variant="Variant.Outlined" StartIcon="@Icons.Custom.Brands.GitHub"
                       Size="Size.Large" Class="ms-4" Href="https://github.com/CropperBlazor/Cropper.Blazor" Target="_blank">
                Star on GitHub
            </MudButton>
        </MudItem>
        <p align="center">
            <a style="text-decoration:none" href="https://github.com/CropperBlazor/Cropper.Blazor/actions/workflows/ci.yml" target="_blank">
                <img src="https://github.com/CropperBlazor/Cropper.Blazor/actions/workflows/ci.yml/badge.svg?event=push" alt="Build and run test" />
            </a>
            <a style="text-decoration:none" href="https://github.com/CropperBlazor/Cropper.Blazor/actions/workflows/cd.yml" target="_blank">
                <img src="https://github.com/CropperBlazor/Cropper.Blazor/actions/workflows/cd.yml/badge.svg?event=push" alt="Deploy to GitHub Pages">
            </a>
            <a style="text-decoration:none" href="https://github.com/CropperBlazor/Cropper.Blazor/actions/workflows/release.yml" target="_blank">
                <img src="https://github.com/CropperBlazor/Cropper.Blazor/actions/workflows/release.yml/badge.svg?event=push" alt="Deploy to NuGet">
            </a>
            <a style="text-decoration:none" href="https://codecov.io/github/CropperBlazor/Cropper.Blazor" target="_blank">
                <img src="https://codecov.io/github/CropperBlazor/Cropper.Blazor/branch/dev/graph/badge.svg?token=39M66DO85T" alt="Code coverage" />
            </a>
            <a style="text-decoration:none" href="https://github.com/CropperBlazor/Cropper.Blazor/blob/dev/LICENSE" target="_blank">
                <img src="https://img.shields.io/github/license/CropperBlazor/Cropper.Blazor?color=ff5c9b" alt="License">
            </a>
            <a style="text-decoration:none" href="https://github.com/CropperBlazor/Cropper.Blazor" target="_blank">
                <img src="https://img.shields.io/github/last-commit/CropperBlazor/Cropper.Blazor?color=009DEA" alt="Last commit" />
            </a>
            <a style="text-decoration:none" href="https://www.nuget.org/packages/Cropper.Blazor" target="_blank">
                <img src="https://buildstats.info/nuget/Cropper.Blazor" alt="Nuget version and downloads" />
            </a>
        </p>

    </MudGrid>
    <MudGrid Class="mt-2" Justify="Justify.Center">

        <MudItem xl="12" lg="12" md="12" sm="12" xs="12">

            <DocsPageSection>
                <SectionHeader Title="Manual Install">
                    <Description>If you already have a project and want to add Cropper.Blazor to it, either from a default template or a working application.</Description>
                </SectionHeader>
                <DocsPageSection>
                    <SectionHeader Title="Install the package">
                        <Description>Find the package through NuGet Package Manager or install it with following command:</Description>
                    </SectionHeader>
                    <SectionContent Code="InstallationManualPackageExample" />
                </DocsPageSection>

                <DocsPageSection>
                    <SectionHeader Title="Add Imports">
                        <Description>After the package is added, you need to add the following in your <CodeInline>_Imports.razor</CodeInline></Description>
                    </SectionHeader>
                    <SectionContent Code="InstallationManualImportsExample" />
                </DocsPageSection>

                <DocsPageSection>
                    <SectionHeader Title="Add font and style references">
                        <Description>Add the following to your HTML head section, it's either <CodeInline>index.html</CodeInline> or <CodeInline>_Layout.cshtml</CodeInline>/<CodeInline>_Host.cshtml</CodeInline> depending on whether you're running WebAssembly/MAUI or Server.</Description>
                    </SectionHeader>
                    <SectionContent Code="InstallationManualCssFontsExample" />
                </DocsPageSection>

                <DocsPageSection>
                    <SectionHeader Title="Add script reference">
                        <Description>In the same file but located in the end of it add the Cropper.Blazor js file, it should be in the same location as the default blazor script.</Description>
                    </SectionHeader>
                    <SectionContent Code="InstallScriptManual" />
                </DocsPageSection>

                <DocsPageSection>
                    <SectionHeader Title="Register Services">
                        <Description>Add the following in <CodeInline>Program.cs</CodeInline></Description>
                    </SectionHeader>
                    <SectionContent Codes="@(new[] {new CodeFile(".NET 6 & .NET 7", "InstallServicesNET6Example")})" />
                </DocsPageSection>

                <DocsPageSection>
                    <SectionHeader Class="mt-3">
                        <Description>Also for server-side (Blazor Server or MVC with Blazor Server) you need add configuration SignalR, increase MaximumReceiveMessageSize of a single incoming hub message (default is 32KB) and map SignalR to your path.</Description>
                    </SectionHeader>
                    <SectionContent Code="InstallServicesForBlazorServerExample" />
                </DocsPageSection>

                <DocsPageSection>
                    <SectionHeader Title="Add Components">
                        <Description>Add the following components to your <CodeInline>MainLayout.razor</CodeInline></Description>
                    </SectionHeader>
                    <SectionContent Code="InstallationManualComponentsExample">
                        <div class="img-container">
                            <InstallationManualComponentsExample />
                        </div>
                    </SectionContent>
                </DocsPageSection>

                <DocsPageSection>
                    <SectionHeader Title="Add Preview Option">
                        <SubTitle>Add the following components to your <CodeInline>MainLayout.razor</CodeInline></SubTitle>
                        <Description>
                            <MudText Typo="Typo.h6">Notes for Preview Option:</MudText>
                            <MudList>
                                <MudListItem Text="The maximum width is the initial width of the preview container." Icon="@Icons.Material.Filled.Circle" />
                                <MudListItem Text="The maximum height is the initial height of the preview container." Icon="@Icons.Material.Filled.Circle" />
                                <MudListItem Text="If you set an aspectRatio option, be sure to set the same aspect ratio to the preview container." Icon="@Icons.Material.Filled.Circle" />
                                <MudListItem Text="If the preview does not display correctly, set the overflow: hidden style to the preview container." Icon="@Icons.Material.Filled.Circle" />
                            </MudList>
                        </Description>
                    </SectionHeader>
                    <SectionContent @ref="ActivePreviewActive" ChildContent="PreviewActiveRenderFragment" Codes="@(
                        new CodeFile[]
                        {
                            new CodeFile("Preview from String selector", "UsesPreviewFromStringSelectorComponentsExample"),
                            new CodeFile("Preview from ElementReference selector", "UsesPreviewFromElementReferenceSelectorComponentsExample"),
                            new CodeFile("Preview from multiple ElementReference selector", "UsesPreviewFromMultipleElementReferenceSelectorComponentsExample")
                        })" />
                </DocsPageSection>
            </DocsPageSection>

        </MudItem>
    </MudGrid>
</MudContainer>
