@page "/"
@layout LandingLayout
@attribute [SitemapUrl(changeFreq: ChangeFreq.Daily, priority: 1)]

@using Cropper.Blazor.Client.Components
@using Cropper.Blazor.Client.Components.Docs
@using Cropper.Blazor.Client.Models;
@using Cropper.Blazor.Client.Pages.Examples
@using Cropper.Blazor.Client.Pages.Home.Installation.Examples
@using Cropper.Blazor.Shared.Attributes
@using Cropper.Blazor.Shared.Models

<SeoHeader Title="Cropper Blazor component for cropping images"
           Overview="Getting started with Cropper.Blazor for faster and easier web development."
           Keywords="@(
            new []
            {
                "home",
                "installation"
            })" />

<MudContainer Class="mt-5 px-4">
    <MudGrid Class="mt-5" Justify="Justify.Center">

        <MudItem xl="12" lg="12" md="12" sm="12" xs="12" Class="d-flex justify-center">
            <MudImage Src="cropperblazor.png" UserAttributes="@LogoInputAttributes" Fluid="true" Width="256" Height="256" />
        </MudItem>

        <MudItem xl="12" lg="12" md="12" sm="12" xs="12" Class="d-flex justify-center">
            <MudText Typo="Typo.h1" Style="word-break: break-all;" Align="Align.Center" Class="pa-0 ma-0 text-gradient index-title">Cropper.Blazor</MudText>
        </MudItem>


        <MudItem xl="12" lg="12" md="12" sm="12" xs="12">
            <MudDivider DividerType="DividerType.FullWidth" Class="my-1 divider" />
        </MudItem>

        <MudItem xl="12" lg="12" md="12" sm="12" xs="12" Class="d-flex justify-center">
            <MudText Align="Align.Center" Class="pa-0 ma-0">
                <span style="color: var(--mud-palette-primary)"><b>Cropper.Blazor</b></span>
                is a component that wraps around
                <a target="_blank" rel="noopener" href="https://github.com/fengyuanchen/cropperjs">
                    <span style="color: var(--mud-palette-secondary)"><b>Cropper.js</b></span>
                </a>
                version 1.6.1
            </MudText>
        </MudItem>

        <MudItem xl="12" lg="12" md="12" sm="12" xs="12" Class="d-flex justify-center gap-4 pb-8">
            <MudButton Color="Color.Primary" Variant="Variant.Filled" DisableElevation="true"
                       Class="button-gradient" Size="Size.Large" Href="/demo">
                <MudText Align="Align.Center">View Demo</MudText>
            </MudButton>
            <MudButton Color="Color.Default" Variant="Variant.Outlined" StartIcon="@Icons.Custom.Brands.GitHub"
                       Size="Size.Large" Class="ms-4" Href="https://github.com/CropperBlazor/Cropper.Blazor" Target="_blank">
                <MudText Align="Align.Center">Star on GitHub</MudText>
            </MudButton>
        </MudItem>
        <p align="center">
            <a style="text-decoration:none" rel="noopener" href="https://github.com/CropperBlazor/Cropper.Blazor/actions/workflows/ci.yml" target="_blank">
                <img loading="lazy" src="https://github.com/CropperBlazor/Cropper.Blazor/actions/workflows/ci.yml/badge.svg?event=push" alt="Build and run test" />
            </a>
            <a style="text-decoration:none" rel="noopener" href="https://github.com/CropperBlazor/Cropper.Blazor/actions/workflows/cd.yml" target="_blank">
                <img loading="lazy" src="https://github.com/CropperBlazor/Cropper.Blazor/actions/workflows/cd.yml/badge.svg?event=push" alt="Deploy to GitHub Pages">
            </a>
            <a style="text-decoration:none" rel="noopener" href="https://github.com/CropperBlazor/Cropper.Blazor/actions/workflows/release.yml" target="_blank">
                <img loading="lazy" src="https://github.com/CropperBlazor/Cropper.Blazor/actions/workflows/release.yml/badge.svg?event=push" alt="Deploy to NuGet">
            </a>
            <a style="text-decoration:none" rel="noopener" href="https://codecov.io/github/CropperBlazor/Cropper.Blazor" target="_blank">
                <img loading="lazy" src="https://codecov.io/github/CropperBlazor/Cropper.Blazor/branch/dev/graph/badge.svg?token=39M66DO85T" alt="Code coverage" />
            </a>
            <a style="text-decoration:none" rel="noopener" href="https://github.com/CropperBlazor/Cropper.Blazor/blob/dev/LICENSE" target="_blank">
                <img loading="lazy" src="https://img.shields.io/github/license/CropperBlazor/Cropper.Blazor?color=ff5c9b" alt="License">
            </a>
            <a style="text-decoration:none" rel="noopener" href="https://github.com/CropperBlazor/Cropper.Blazor" target="_blank">
                <img loading="lazy" src="https://img.shields.io/github/last-commit/CropperBlazor/Cropper.Blazor?color=009DEA" alt="Last commit" />
            </a>
            <a style="text-decoration:none" rel="noopener" href="https://www.nuget.org/packages/Cropper.Blazor" target="_blank">
                <img loading="lazy" src="https://buildstats.info/nuget/Cropper.Blazor" alt="Nuget version and downloads" />
            </a>
        </p>

    </MudGrid>
    <MudGrid Class="mt-2" Justify="Justify.Center">

        <MudItem xl="12" lg="12" md="12" sm="12" xs="12">
            <DocsPageSection>
                <SectionHeader Title="Description">
                    <Description>
                        <span style="color: var(--mud-palette-primary)"><b>Cropper.Blazor</b></span> — most powerful image cropping tool for Blazor WebAssembly / Server, Hybrid with MAUI, MVC and other frameworks.

                        Cropper.Blazor is an essential component for building interactive image cropping and manipulation features in Blazor web applications. This versatile Blazor library empowers developers to integrate intuitive image cropping functionality directly into their Blazor projects, offering users a seamless and responsive image editing experience.
                    </Description>
                </SectionHeader>
                <DocsPageSection>
                    <SectionHeader Title="Key features and aspects of the Cropper.Blazor package include">
                        <Description>
                            <MudList>
                                <MudListItem Text="Blazor Integration: Cropper.Blazor is specifically designed for Blazor applications, allowing developers to effortlessly incorporate image cropping capabilities into their Blazor components and pages." Icon="@Icons.Material.Filled.Circle" />
                                <MudListItem Text="Drag-and-Resize Interaction: Users can easily drag and resize the cropping area to precisely select the desired portion of an image. This intuitive interaction method ensures accurate and efficient cropping." Icon="@Icons.Material.Filled.Circle" />
                                <MudListItem Text="Rotation Support: Cropper.Blazor includes the ability to rotate the selected image area, giving users full control over the orientation of their cropped content." Icon="@Icons.Material.Filled.Circle" />
                                <MudListItem Text="Aspect Ratio Control: Developers can define custom aspect ratios for cropping, ensuring that the resulting image maintains specific proportions. This is particularly valuable for applications that require standardized image dimensions." Icon="@Icons.Material.Filled.Circle" />
                                <MudListItem Text="Zoom Functionality: Cropper.Blazor allows users to zoom in and out of the image to fine-tune their cropping selection, guaranteeing precise results." Icon="@Icons.Material.Filled.Circle" />
                                <MudListItem Text="Data Retrieval: The library provides methods to retrieve detailed information about the cropped area, such as coordinates and dimensions. This data can be easily captured and utilized for further processing or image uploads." Icon="@Icons.Material.Filled.Circle" />
                                <MudListItem Text="Customization: Cropper.Blazor offers a wide range of configuration options, enabling developers to tailor the cropping experience to match the visual style and user interface of their Blazor applications." Icon="@Icons.Material.Filled.Circle" />
                                <MudListItem Text="Cross-Browser Compatibility: The package is compatible with various modern web browsers, ensuring consistent functionality and user experience across different platforms." Icon="@Icons.Material.Filled.Circle" />
                                <MudListItem Text="Documentation: Cropper.Blazor is accompanied by comprehensive documentation and practical examples, simplifying the integration process and helping developers make the most of its features." Icon="@Icons.Material.Filled.Circle" />
                                <MudListItem Text="Open Source: Cropper.Blazor is open-source software, available for free use in both personal and commercial Blazor projects." Icon="@Icons.Material.Filled.Circle" />
                                <MudListItem Text="Cropper.Blazor streamlines the implementation of image cropping and editing within Blazor applications, enhancing user engagement and enabling dynamic image manipulation. Whether you are developing a Blazor-based image editor, profile picture uploader, or any other application that requires image cropping, Cropper.Blazor is a valuable package that simplifies the development process and enriches your application's capabilities." />
                            </MudList>
                        </Description>
                    </SectionHeader>
                </DocsPageSection>
                <DocsPageSection>
                    <SectionHeader TitleId="manualInstall" Class="mt-1" Title="Manual Install">
                        <Description>If you already have a project and want to add Cropper.Blazor to it, either from a default template or a working application.</Description>
                    </SectionHeader>
                </DocsPageSection>
                <DocsPageSection>
                    <SectionHeader TitleId="installPackage" Title="Install the package">
                        <Description>Find the package through NuGet Package Manager or install it with following command:</Description>
                    </SectionHeader>
                    <SectionContent Code="InstallationManualPackageExample" />
                </DocsPageSection>

                <DocsPageSection>
                    <SectionHeader Title="Add Imports">
                        <Description>After the package is added, you need to add the following in your <CodeInline>_Imports.razor</CodeInline></Description>
                    </SectionHeader>
                    <SectionContent Code="InstallationManualImportsExample" />
                </DocsPageSection>

                <DocsPageSection>
                    <SectionHeader Title="Add font and style references">
                        <Description>Add the following to your HTML head section, it's either <CodeInline>index.html</CodeInline> or <CodeInline>_Layout.cshtml</CodeInline>/<CodeInline>_Host.cshtml</CodeInline> depending on whether you're running WebAssembly/MAUI or Server.</Description>
                    </SectionHeader>
                    <SectionContent Code="InstallationManualCssFontsExample" />
                </DocsPageSection>

                <DocsPageSection>
                    <SectionHeader Title="Add script reference">
                        <Description>In the same file but located in the end of it add the Cropper.Blazor js file, it should be in the same location as the default blazor script.</Description>
                    </SectionHeader>
                    <SectionContent Code="InstallScriptManual" />
                </DocsPageSection>

                <DocsPageSection>
                    <SectionHeader Title="Register Services">
                        <Description>
                            Add the following in <CodeInline>Program.cs</CodeInline>
                            <br><br>
                            You can change the path to the CropperJSInterop.min.js module if for some reason 
                            it is located outside the server root folder.
                        </Description>
                    </SectionHeader>
                    <SectionContent Codes="@(
                        new CodeFile[] {
                            new CodeFile("Add Service", "InstallServicesManual"),
                            new CodeFile("Override internal path", "InstallServicesOverrideInternal"),
                            new CodeFile("Override full global path", "InstallServicesOverrideGlobal")
                        })" />
                </DocsPageSection>

                <DocsPageSection>
                    <SectionHeader Class="mt-3">
                        <Description>Also for server-side (Blazor Server or MVC with Blazor Server) you need add configuration SignalR, increase <CodeInline>MaximumReceiveMessageSize</CodeInline> of a single incoming hub message (default is 32KB) and map SignalR to your path. However, if your images are too large, the <CodeInline>MaximumReceiveMessageSize</CodeInline> variable should be increased to the desired value.</Description>
                    </SectionHeader>
                    <SectionContent Code="InstallServicesForBlazorServerManual" />
                </DocsPageSection>

                <DocsPageSection>
                    <SectionHeader Title="Resolve MAUI project dependency conflicts">
                        <Description>
                            Run following command and rebuilt the project. If that doesn't help, try the step below about override package versions.
                        </Description>
                    </SectionHeader>
                    <SectionContent Code="DotnetWorkloadUpdateCommandExample"></SectionContent>
                </DocsPageSection>

                <DocsPageSection>
                    <SectionHeader Title="Overriding package versions">
                        <Description>
                            When resolving MAUI project dependency conflicts, you can override an individual package version by using the <CodeInline>VersionOverride</CodeInline> property on a <CodeInline>@("<PackageReference />")</CodeInline> item.
                        </Description>
                    </SectionHeader>
                    <SectionContent Code="VersionOverridePackageReferenceCommandExample">

                    </SectionContent>
                </DocsPageSection>

                <DocsPageSection>
                    <SectionHeader Title="Add Components">
                        <Description>Add the following components to your <CodeInline>MainLayout.razor</CodeInline></Description>
                    </SectionHeader>
                    <SectionContent Code="InstallationManualComponentsExample">
                        <div class="img-container">
                            <InstallationManualComponentsExample />
                        </div>
                    </SectionContent>
                </DocsPageSection>
            </DocsPageSection>

        </MudItem>
    </MudGrid>
</MudContainer>
